* {
    box-sizing: border-box;
  }


#container {
display: grid;
grid-template-columns: repeat(16, 30px [col-start]);
}

#content {
display:flex;
justify-content:center;
align-items:center;
margin-top:8vw;
}

#parameters {
border: 1px solid black;
height:30vw;
width:20vw;
margin-right:7vw;
    
}




