
#container {
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}

#content {
display:flex;
justify-content:center;
align-items:center;
margin-top:8vw;
}

#parameters {
border: 1px solid black;
height:30vw;
width:20vw;
margin-right:7vw;
    
}

.sliderAndValue {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.colorinfo {
  display:flex;
  flex-direction:column;
  align-items:center;
} 

#parameters {
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
}

.box {
  border: 0.1vw solid black;
}

#clear {
  width:7vw;
  height: 2vw;
}





