
#content {
display:flex;
justify-content:center;
align-items:center;
}

#parameters {
height:33vw;
width:17vw;
margin-right:10vw;
border: 2px solid black;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
background-color:rgba(0, 0, 0, 0.233);
border-radius:0.3vw;


}

.sliderAndValue {
  display:flex;
  flex-direction:column;
  align-items:center;
  font-weight:bold;
}

.colorinfo {
  display:flex;
  flex-direction:column;
  align-items:center;
  font-weight:bold;
} 



.box {
  border: 1px solid rgba(128, 128, 128, 0.192);
}

#clear, #erase, #rainbow {
  width:11vw;
  height: 2vw;
  border-radius:0.5vw;
  border-color:rgba(0, 0, 0, 0.685);
  border-width:2px;
  font-size:0.8vw;
  font-weight:bold;
}


.eraseActive, .rainbowActive {
    width:12vw;
    height:2vw;
    border-radius:0.5vw;
    background-color:rgba(202, 4, 4, 0.644);
    color:white;
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4)
}


#clear {
  transition:0.3s;
}

#clear:hover {
  background-color:rgba(202, 4, 4, 0.644);
    color:white;

}

#color {
  width:9vw;
  height:2vw;
  background-color: transparent;
  border:none;
}

input[type="range"] {
  -webkit-appearance: none;
 }
 
 
 input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(10, 2, 0);
  height: 5px;
 }
 
 
 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: rgb(117, 0, 0);
  margin-top: -5px;
  border-radius: 50%;
 }
 
body {
  background-color:rgba(136, 136, 136, 0.438);
}

#container {
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 575px;
  width: 575px;
  background-color:white;
  margin-bottom:2.5vw;
}


.border {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:rgba(0, 0, 0, 0.178);
  width:34vw;
  height:34vw;
  border-radius:1vw;
  
}

.name {
  font-size:4vw;
  margin-left:51.8vw;
  margin-bottom:1vw;
}